html {
  height: 100%;
}
.logo {
  max-width: 15%;
  min-width: 55px;
  height: auto;
}
.main__section {
  margin-top: 12rem;
}
body {
  --bs-body-bg: #e4fde1;
  height: 100%;
}

.button__send {
  background: #0c63fd;
  border: 0;
  color: #fff;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.button__send:after,
.button__send:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button__send:after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.button__send:before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.button__send:hover {
  padding: auto 60px auto 15px;
}

.button__send:hover::after,
.button__send:hover::before {
  opacity: 1;
  right: 15px;
}
